body {
    background-color: #c4bdbd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

#main {
    display: flex;
    justify-content: center;
    align-self: center;
}

.container {
    border: 5px solid rgb(102, 105, 107);
    border-radius: 10px;
    width: 500px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: #a5e7fc;
}

#title {
    font-size: 3rem;
    margin-bottom: 0;
}

#counter {
    font-size: 2rem;
}

button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #2b0138;
    border: none;
    border-radius: 10px;
    color: rgb(241, 175, 208);
    font-weight: bold;
    margin: 1rem;
    cursor: pointer;
}